*                                   @KubeKoslaw

/public/*.php                       @THOPA174 @KubeKoslaw
/public/partials/                   @THOPA174 @KubeKoslaw
/public/assets/css/                 @THOPA174 @KubeKoslaw

/public/assets/js/                  @jgpostrach @KubeKoslaw

/public/assets/img/                 @moxmar26 @KubeKoslaw
/database/seed/                     @moxmar26 @KubeKoslaw
/docs/                              @moxmar26 @KubeKoslaw
