# SQLite database runtime files
database/*.sqlite
database/*.sqlite-journal
database/*.sqlite-wal
database/*.sqlite-shm
*.db

# Logs and system
*.log
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.user
